<div class="form__box form--centered p-5 mt-5">
  <div class="d-flex justify-content-between align-items-baseline">
    <h1 class="heading mb-5">New Message</h1>

    <%= link_to(
      "<<",
      sms_messages_path,
      class: "text--default-size link--black text-decoration-none",
      data: { turbo: false }
    ) %>
  </div>

  <%= form_with(model: sms_message) do |form| %>
    <% if sms_message.errors.any? %>
      <h2 class="text-center">
        <%= I18n.t(
          "errors.messages.not_saved",
          count: sms_message.errors.count,
          resource: "message"
        ) %>
      </h2>

      <ul class="u-remove-list-style mb-5">
        <% sms_message.errors.full_messages.each do |message| %>
          <li class="heading text--larger-size text-center"><%= message %></li>
        <% end %>
      </ul>
    <% end %>

    <%= form.hidden_field :user_id, value: current_user.id %>

    <div class="field mb-4">
      <%= form.label :phone_number, class: "form__label" %>
      <%= form.text_field(
        :phone_number,
        class: "form-control form__field"
      ) %>
    </div>

    <div>
      <%= form.label :message, class: "form__label" %>
      <%= form.textarea(
        :message,
        size: "100x10",
        class: "form-control form__field"
      ) %>
    </div>

    <div class="d-flex justify-content-end">
      <span class="text--default-size text--grey">0/250</span>
    </div>

    <div class="d-flex justify-content-between align-items-baseline">
      <%= link_to(
        "Clear",
        "#",
        class: "text--default-size link--black",
        data: { turbo: false }
      ) %>

      <%= form.submit(
        "Submit",
        class: "button button--black button--big mt-5 mb-3"
      ) %>
    </div>
  <% end %>
</div>
